body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.title-container {
    text-align: center;
    background: linear-gradient(45deg, #ff3399, #ff9900);
    border-radius: 15px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    transform: translateX(-100%); /* remove for container animations */
    width: 80%;
    opacity: 0.4; /* Set opacity to your preference (0.0 to 1.0) */ /* remove for container animations */
}

.title-container h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
}

.input-form div {
    display: flex;
    align-items: center;
}

.input-form input {
    flex: 1;
    color: #1a1a1a;
    padding: 15px;
    outline: none;
    border: none;
    background: #fff;
    border-radius: 15px;
    font-size: 18px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.input-form button {
    padding: 15px;
    background-color: #ff9900;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#save-tasks-btn {
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#save-tasks-btn i:hover {
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    transform: scale(1.3);
    transition: background-color 0.3s, color 0.3s;
}

#fileInput {
    display: none;
}

.unhide {
    display: block !important;
    padding: 10px !important;
    margin-top: 10px !important;
}

#load-tasks-btn {
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

#load-tasks-btn i:hover {
    transition-timing-function: ease-in;
    transition-duration: 0.3s;
    transform: scale(1.3);
    transition: background-color 0.3s, color 0.3s;
}

.input-form button:hover,
.input-form input:focus {
    background-color: #ffff;
    color: #1a1a1a;
}

.task-container {
    width: 100%;
    height: 70vh;
    overflow-y: auto;
}
.task-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.task-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
.task {
    background-color: #3fb3b3;
    font-size: 20px;
    color: #003d2e;
    display: flex;
    flex-direction: column; /* Adjusted to column layout for better responsiveness */
    padding: 15px;
    border-radius: 15px;
    transition: background-color 0.3s;
    /* margin-bottom: 10px; */
    margin: 10px 40px;
}
.task i {
    color: #003d2e;
}

#complete-task {
    color: green;
}

/* #update-task {
    color: rgb(178, 187, 59);
} */

#cancel-task {
    color: rgb(121, 1, 1);
}

#task-list {
    padding: 0 !important;
}

.task:hover {
    background-color: #ff9900;
}

.item-text {
    flex: 1;
    margin-bottom: 10px; /* Added margin for better spacing between text and buttons */
}

.operation_btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ff9900;
    transition: transform 0.3s, font-size 0.3s;
}

.operation_btn i:hover {
    transform: scale(1.1);
    font-size: 22px;
}

.animate__animated.animate__zoomOut {
    --animate-duration: 2s;
}

.task.dragging {
    opacity: 0.5;
}

/* .task.dragover {
    border: 2px dashed #ff9900;
} */

@media screen and (max-width: 600px) {
    .title-container {
        padding: 10px !important;
    }

    .title-container h2 {
        font-size: 14px;
    }

    .input-form {
        flex-direction: column;
    }

    .input-form input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0px;
        font-size: 12px;
        padding: 7px;
    }

    .input-form button {
        width: 15%;
        font-size: 10px;
        padding: 7px;
    }

    .file-btn {
        width: 7% !important;
        padding: 3px !important;
    }

    .task {
        padding: 15px;
        font-size: 12px;
    }
}

#logo {
    width: 90%;
}
